<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Produtos - Adicionar</title>
    <style>
        body{
            background-color: grey;
        }
        a {
            color: black ;
            text-decoration: none;
            font-family:'cursive';
            font-size: 17px;
            text-shadow: green solid 1px;
        }
        li{
            display: inline;
            border-left: black solid 2px;
            border-right: black solid 2px;
            border-top: black solid 2px;
            border-bottom: black solid 2px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 1px;
            background-color: rgb(0, 122, 0);
            
        }
        li:hover{
            background-color: rgb(1, 214, 1);
            border-bottom:black solid 5px;
            border-left:black solid 4px;
        }
        li a{
            display: inline-block;
            padding: 10px;
        }
        a:hover{
            color: white;
            font-size: 17,5px;
            text-shadow:2px 2px 2px black;
            
        }
        table{
            margin-top: 10px;
            border-collapse: collapse;
            border: solid black 2px;
        }
        th,td{
            padding: 5px;
            border:solid black 1px;
        }
        #divCab{
            display: inline-block;
            background-color: rgb(2, 88, 2);
            border-left: black solid;
            border-right: black solid;
        }
        #cadas{
            color: white;
            text-shadow:9px 9px 9px black;
        }
        #div2{
            background-color: grey;
        }
        #DivBody{
            background-color: white;
        }
        #Center1{
            background-color: green;
            border-top: black solid;
            border-bottom: black solid;
        }
        #Center2{
            background-color: grey;
        }
    </style>
</head>
<body>
    <center id="Center1">
    <div id="divCab">
        <h1 id="cadas">Cadastro de Produtos</h1>
    </div>
        
</center>
<center id="Center2">
    <div id="div2">
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li>
            <a href="/">Listar</a>
        </li>
    </ul>
    </div>
</center>
    
</center>